html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.container {
  width: 85%;
}

html {
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  background-color: #e3e4e6;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  border: none;
}

input:focus {
  outline: none; /* Removes the border when the input is clicked */
}

.searchbar {
  text-align: center;
  height: 10%;
  font-family: "Roboto";
  font-weight: 600;
  background-color: inherit;
  font-size: 2rem;
}

.card {
  width: 90%;
  height: 85%;
  max-width: 500px;
  max-height: 1000px;
  background-color: #f6f5fa;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 32px;
  padding: 2rem;
  font-family: "Roboto";
  color: black;
  justify-content: space-between;
}

#location {
  height: 5%;
  justify-content: center;
  font-size: 1.75rem;
  font-family: "Roboto";
  font-weight: 300;
  letter-spacing: 0.05rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

#image-holder {
  justify-content: center;
  height: 50%;
}

#info {
  align-items: center;
  justify-content: space-between;
  height: 45%;
}

#temp-converter {
  font-size: 3rem;
}

#info__temp {
  font-size: 6rem;
  font-weight: 900;
}

#info__written {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  font-family: "Cormorrant SC";
  text-transform: uppercase;
}

.justifyend {
  justify-content: flex-end;
}

.justifybetween {
  justify-content: space-between;
}

#info__double {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#info__locationdouble {
  align-items: center;
}
#info__location {
  text-align: center;
}

#info__datedouble,
#info__timedouble {
  text-align: center;
  gap: 0.25em;
  /* border: black 2px solid; */
}

#info__timeheader,
#info__dateheader {
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 300;
}

#svg-holder {
  width: 2rem;
}
